{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        }
    ],
    "printWidth": 120,
    "quoteProps": "preserve",
    "semi": true,
    "tabWidth": 2
}